@model UserGroups.Models.Group
@{
    ViewData["Title"] = "Edit " + Model.Name;
    var users = ViewData["Users"] as User[];
}

<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">@Model.Members.Count Members of <i>@Html.DisplayFor(model => model.Name)</i></strong>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Members)
                    {
                        var displayName = "Deleted User";
                        var user = users.FirstOrDefault(u => u.Id == item.UserId);
                        if (user != null)
                        {
                            displayName = user.Email;
                        }
                        <tr>
                            <td>@displayName</td>
                            <td class="text-right"><a class="btn btn-danger" asp-action="DeleteMember" asp-route-memberId="@item.Id" asp-route-groupId="@Model.Id"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Update Group</strong>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a class="btn btn-info" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
